.navbar-dark .navbar-nav .nav-link {
    color: #1f0202;
  }
  
  .navbar-dark .navbar-nav .nav-link:hover {
    color: #260101;
  }
  
  .navbar-dark .navbar-brand {
    color: #ffffff; 
  }
  
  .navbar-dark .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
  }
  
  .navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); 
  }
  
  .navbar-dark .navbar-toggler:hover,
  .navbar-dark .navbar-toggler:focus {
    background-color: rgba(255, 255, 255, 0.1); 
  }