 .card{
    background-color: rgba(26, 129, 184, 0.097);
    width: 18rem;
}
search-container {
    display: flex;
    align-items: center;
  }
  
  .search-input {
    padding: 8px;

    width: 200px;
    font-size: 16px;
    background-color: rgb(27, 112, 198);
    color: white;
  }
  
  .search-button {
    padding: 8px 12px;
    background-color: rgb(27, 112, 198);
    color: white;
    border: none;
    border-radius: 4px;
    margin-left: 8px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #072e72;
  }

  .navbar .form-control {
    margin-left: 100px;
    width: 700px; 
    padding-right: 80px;
  }
  
  .navbar .btn {
    width: 80px; 
  }